html, body {
  overflow: auto;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0px;
	/* padding: 0px; */
	/* border: 0px; */
	color: rgb(195, 195, 195);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p {
	word-wrap: break-word;
	font-size: 18px;
}

figure {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

body {
	background-color: rgb(17, 17, 17);
}

input, textarea {
  background-color: #222;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #FFF;
  font-weight: 500;
  color: white;
  padding: 8px 12px;
  margin: 4px 2px;
  outline: none;
}

input:focus, textarea:focus {
  background-color: #444;
  border-color: #20c929;
}

input[type=button], input[type=submit], input[type=reset], button {
  background-color: #222;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #FFF;
  font-weight: 700;
  color: white;
  padding: 8px 12px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
  background-color: #444;
  border-color: #20c929;
}

.input-full {
  width: 100%;
}

.form-inline {
  display: flex;
  align-items: center;
}

#blog-block {
	width: 1024px;
	margin: auto;
}

#blog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 90px;
	border-bottom: 1px dashed white;
}

#blog-header h1 {
	margin-left: 15px;
}

#navbar {
  padding-top: 10px;
  padding-bottom: 13px;
  border-bottom: 1px dashed white;
}

#navbar ul {
	margin-right: 15px;
}

#navbar ul li {
	display: inline;
	margin-left: 10px;
	font-size: 22px;
}

#blog-container {
	width: 100%;
}

.blog-content {
	width: calc(100% - 100px);
	margin: auto;
	margin-top: 40px;
  margin-bottom: 80px;
}

#blog-post-list {
	width: calc(100% - 100px);
	margin: auto;
  margin-bottom: 80px;
}

#blog-post-list h1 {
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
}

#blog-img-place {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.grid-test {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 50px;
}
